#!/usr/bin/env sh

PRIV_VALIDATOR_STATE="{
  \"height\": \"0\",
  \"round\": \"0\",
  \"step\": 0
}"

# stop and remove docker containers
docker-compose down

# clean repo
for i in {0..{{ obj.totalNodes - 1 }}}
do
  NODE_DIR=$PWD/devnet/node$i
  rm -rf $NODE_DIR/bttc/data/bttc $NODE_DIR/deliveryd/config/write-file-* $NODE_DIR/deliveryd/data $NODE_DIR/deliveryd/config/addrbook.json $NODE_DIR/deliveryd/bridge/storage
  mkdir -p $NODE_DIR/deliveryd/data
  echo $PRIV_VALIDATOR_STATE > $NODE_DIR/deliveryd/data/priv_validator_state.json
done

rm -rf logs
