#!/usr/bin/env sh

NODE_DIR=
BOR_HOME=$NODE_DIR/bor
LOG_HOME=$NODE_DIR/logs

# create heimdall file
mkdir -p $BOR_HOME $LOG_HOME

# setup bor
BOR_DATA_DIR=$BOR_HOME/data
bttc --datadir $BOR_DATA_DIR init $BOR_HOME/genesis.json 

# copy bor files
cp $BOR_HOME/nodekey $BOR_DATA_DIR/bor/
cp $BOR_HOME/static-nodes.json $BOR_DATA_DIR/
cp $BOR_HOME/static-nodes.json $BOR_DATA_DIR/bor/

echo "Setup done!"%