#!/usr/bin/env sh

NODE_DIR=/data2/bttc/node
BTTC_HOME=$NODE_DIR/bttc
LOG_HOME=$NODE_DIR/logs

# create heimdall file
mkdir -p $BTTC_HOME $LOG_HOME

# setup bor
BTTC_DATA_DIR=$BTTC_HOME/data
bttc --datadir $BTTC_DATA_DIR init $BTTC_HOME/genesis.json 

# copy bor files
cp $BTTC_HOME/nodekey $BTTC_DATA_DIR/bttc/
cp $BTTC_HOME/static-nodes.json $BTTC_DATA_DIR/
cp $BTTC_HOME/static-nodes.json $BTTC_DATA_DIR/bttc/

echo "Setup done!"%