#!/usr/bin/env sh

set -x #echo on

NODE_DIR=/data/workspaces/localnet/node
HEIMDALL_HOME_DIR=$NODE_DIR/heimdalld
BUILD_DIR=$NODE_DIR/code/heimdall/build

$BUILD_DIR/heimdalld --home $HEIMDALL_HOME_DIR --laddr tcp://0.0.0.0:1317 --node tcp://localhost:26657 rest-server