#!/usr/bin/env sh

set -x #echo on

NODE_DIR=/data/workspaces/localnet/node
HEIMDALL_HOME_DIR=$NODE_DIR/heimdalld
BUILD_DIR=$NODE_DIR/code/heimdall/build

bridge --home $HEIMDALL_HOME_DIR start --all --node http://0.0.0.0:26657