### Delivery

To start Delivery node:

```
bash delivery-start.sh
```

To start server node:

```
bash delivery-server-start.sh
```

To start bridge node:

```
bash delivery-bridge-start.sh
```

To clean every delivery data and setup again:

```
bash delivery-clean.sh
```